{% extends "partials/base-page-template.twig" %}
{% block content %}
    <div class="page__main">
        {% include 'partials/header.twig' %}
        <section class="content">
            <div class="content__main" style="width:1280px;margin:0 auto">

                <!-- TEMP -->
                <style type="text/css">
                    .closed
                    {
                        overflow: hidden;
                        height:   22px;
                    }
                </style>
                CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>
                <div>
                    <a href="#" onclick="this.parentNode.classList.toggle('closed')">OPEN</a>
                    CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>CONTENT<br>
                </div>
                <!-- /TEMP -->

            </div><!-- /content__main -->
        </section>
        {% include 'partials/footer.twig' %}
    </div> <!-- /page__main -->
    <div class="page__menu-mobile">
        MENU MOBILE
    </div>
{% endblock %}
